In [1]:
import pandas as pd
import numpy as np
from pyaxis import pyaxis

import sys
sys.path.append('../')
import src.support as ine
import src.library as bb

In [2]:
lista = [
    'Renta Media y Mediana',
    'Distribución por fuente de ingresos',
    'Índice de Gini y Distribución de la renta P80_P20',
    'Indicadores demográficos'
]

In [3]:
for file in lista:
    code = bb.ine_experimental[file]
    df = ine.INE_Experimental.cleanData(ine.INE_Experimental.getData(code), code)
    print(df.shape)
    display(df)
    ine.INE_Experimental.export(df, file)

(331626, 9)

Indicadores de renta media,cod,nom,Periodo,Media de la renta por unidad de consumo,Mediana de la renta por unidad de consumo,Renta bruta media por hogar,Renta bruta media por persona,Renta neta media por hogar,Renta neta media por persona
0,01001,Alegría-Dulantzi,2015,NaN,NaN,NaN,NaN,33702.0,12936.0
1,01001,Alegría-Dulantzi,2016,NaN,NaN,NaN,NaN,34373.0,13086.0
2,01001,Alegría-Dulantzi,2017,NaN,NaN,NaN,NaN,34618.0,13281.0
3,01001,Alegría-Dulantzi,2018,NaN,NaN,NaN,NaN,34510.0,13361.0
4,01001,Alegría-Dulantzi,2019,NaN,NaN,NaN,NaN,36974.0,14299.0
...,...,...,...,...,...,...,...,...,...
331621,1490201,"Guijarrosa, La distrito 01",2016,NaN,NaN,NaN,NaN,NaN,NaN
331622,1490201,"Guijarrosa, La distrito 01",2017,NaN,NaN,NaN,NaN,NaN,NaN
331623,1490201,"Guijarrosa, La distrito 01",2018,11524.0,11550.0,21492.0,8471.0,19642.0,7742.0
331624,1490201,"Guijarrosa, La distrito 01",2019,12390.0,12250.0,22937.0,9085.0,20920.0,8286.0
331625,1490201,"Guijarrosa, La distrito 01",2020,12181.0,12250.0,22503.0,9014.0,20565.0,8238.0

(331632, 8)

Distribución por fuente de ingresos,cod,nom,Periodo,Fuente de ingreso: otras prestaciones,Fuente de ingreso: otros ingresos,Fuente de ingreso: pensiones,Fuente de ingreso: prestaciones por desempleo,Fuente de ingreso: salario
0,01001,Alegría-Dulantzi,2015,NaN,NaN,NaN,NaN,NaN
1,01001,Alegría-Dulantzi,2016,NaN,NaN,NaN,NaN,NaN
2,01001,Alegría-Dulantzi,2017,NaN,NaN,NaN,NaN,NaN
3,01001,Alegría-Dulantzi,2018,NaN,NaN,NaN,NaN,NaN
4,01001,Alegría-Dulantzi,2019,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
331627,1490201,"Guijarrosa, La distrito 01",2016,NaN,NaN,NaN,NaN,NaN
331628,1490201,"Guijarrosa, La distrito 01",2017,NaN,NaN,NaN,NaN,NaN
331629,1490201,"Guijarrosa, La distrito 01",2018,361.0,682.0,2201.0,846.0,4288.0
331630,1490201,"Guijarrosa, La distrito 01",2019,394.0,625.0,2412.0,854.0,4760.0
331631,1490201,"Guijarrosa, La distrito 01",2020,360.0,548.0,2412.0,1163.0,4532.0

(331614, 5)

Indicadores de renta media,cod,nom,Periodo,Distribución de la renta P80/P20,Índice de Gini
0,01001,Alegría-Dulantzi,2015,NaN,NaN
1,01001,Alegría-Dulantzi,2016,NaN,NaN
2,01001,Alegría-Dulantzi,2017,NaN,NaN
3,01001,Alegría-Dulantzi,2018,NaN,NaN
4,01001,Alegría-Dulantzi,2019,NaN,NaN
...,...,...,...,...,...
331609,1490201,"Guijarrosa, La distrito 01",2016,NaN,NaN
331610,1490201,"Guijarrosa, La distrito 01",2017,NaN,NaN
331611,1490201,"Guijarrosa, La distrito 01",2018,2.0,22.5
331612,1490201,"Guijarrosa, La distrito 01",2019,2.0,22.6
331613,1490201,"Guijarrosa, La distrito 01",2020,1.9,21.9

(331614, 10)

Indicadores demográficos,cod,nom,Periodo,Edad media de la población,Población,Porcentaje de hogares unipersonales,Porcentaje de población de 65 y más ańos,Porcentaje de población espańola,Porcentaje de población menor de 18 ańos,Tamańo medio del hogar
0,01001,Alegría-Dulantzi,2015,36.9,2832.0,23.6,10.1,92.2,26.1,2.61
1,01001,Alegría-Dulantzi,2016,37.3,2871.0,24.2,10.6,91.1,25.9,2.63
2,01001,Alegría-Dulantzi,2017,37.6,2849.0,25.0,11.3,90.9,25.8,2.61
3,01001,Alegría-Dulantzi,2018,38.4,2854.0,25.8,12.2,91.6,24.4,2.58
4,01001,Alegría-Dulantzi,2019,38.8,2896.0,27.1,12.1,89.4,23.8,2.59
...,...,...,...,...,...,...,...,...,...,...
331609,1490201,"Guijarrosa, La distrito 01",2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331610,1490201,"Guijarrosa, La distrito 01",2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331611,1490201,"Guijarrosa, La distrito 01",2018,42.0,1399.0,26.5,18.2,98.3,19.0,2.53
331612,1490201,"Guijarrosa, La distrito 01",2019,42.2,1387.0,28.4,18.5,98.0,19.3,2.52
331613,1490201,"Guijarrosa, La distrito 01",2020,42.7,1381.0,28.7,19.0,98.5,18.8,2.49

In [4]:
lista_padron = [
    'Población por sexo, Sección y edad',
    'Población por sexo, Sección y nacionalidad (principales nacionalidades)',
]

In [5]:
for file in lista_padron:
    code2 = bb.ine_padron[file]
    df = ine.Padron.getData(2022, code2)
    df_norm = ine.Padron.cleanData(df, file)
    ine.Padron.export(df_norm, file)

,edad_sección,edad_0_4,edad_10_14,edad_100,edad_15_19,edad_20_24,edad_25_29,edad_30_34,edad_35_39,edad_40_44,...,edad_55_59,edad_60_64,edad_65_69,edad_70_74,edad_75_79,edad_80_84,edad_85_89,edad_90_94,edad_95_99,edad_Total
0,0100101001,45,118,0,94,69,53,60,75,106,...,113,73,60,42,34,26,11,6,0,1388
1,0100101002,71,121,0,102,77,66,79,82,147,...,115,74,51,42,39,22,19,6,2,1572
2,0100201001,59,97,1,61,82,74,83,104,130,...,145,185,137,135,82,55,38,26,8,1875
3,0100201002,30,77,2,57,58,56,75,88,99,...,152,151,138,125,89,35,33,16,2,1563
4,0100201003,115,71,2,51,48,52,85,191,141,...,85,93,72,63,46,29,15,14,1,1506
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36367,5200108011,147,175,0,188,201,154,147,193,204,...,170,173,112,71,39,18,16,7,1,2533
36368,5200108012,80,127,0,115,149,131,139,165,177,...,166,156,110,90,91,47,38,14,1,2312
36369,5200108013,107,92,1,93,113,141,135,136,128,...,115,125,97,41,27,17,9,9,1,1701
36370,5200108014,66,75,0,80,63,70,77,119,97,...,62,79,80,63,43,24,13,2,1,1210
36371,5200108015,131,159,1,148,153,188,164,161,151,...,188,174,99,62,37,34,17,9,4,2388

nacionalidad,sección,Alemania,Argelia,Argentina,Bolivia,Brasil,Bulgaria,Chile,China,Colombia,...,Total América,Total Asia,Total Extranjeros,Total Población,Total Resto de Europa,Total Unión Europea,Total África,Ucrania,Uruguay,Venezuela
0,0100101001,1,2,1,0,4,3,2,1,7,...,21,3,111,1388,2,33,49,0,0,1
1,0100101002,1,11,1,0,8,0,0,0,9,...,35,4,199,1572,1,29,122,0,1,0
2,0100201001,1,10,0,0,1,0,0,2,3,...,39,6,139,1875,4,43,41,1,0,1
3,0100201002,4,6,0,0,0,0,0,0,1,...,20,0,74,1563,3,8,41,1,0,5
4,0100201003,0,9,1,0,0,0,0,0,1,...,21,1,89,1506,3,24,34,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36367,5200108011,6,0,2,0,0,0,0,1,0,...,2,1,233,2533,1,33,196,0,0,0
36368,5200108012,6,0,0,0,2,0,0,1,1,...,8,1,177,2312,10,26,132,0,0,0
36369,5200108013,11,1,1,0,2,1,0,4,2,...,11,4,296,1701,5,37,239,0,0,2
36370,5200108014,0,0,0,0,1,0,0,0,0,...,4,0,95,1210,0,2,89,0,0,0
36371,5200108015,0,0,3,1,0,0,3,0,5,...,29,1,284,2388,4,13,237,0,0,4